<div class="container parentcontainer">
  <div class="row justify-content-center ">
    <ng-container *ngIf="availableBuses;else endpointsmissing">
      <div class="col-sm-12">
          <button class="btn btn-primary" (click)='navigateBack()'>Back</button>
      </div>
      <div class="col-lg-4 d-none d-lg-block bg-light busDataBox">
        <img class="img img-fluid" src="https://th.bing.com/th/id/OIP.0aTpefu99s9kCP7fCaFEDwHaF6?pid=ImgDet&rs=1" alt="Journey Image">
      </div>
      <div class="col col-lg-8 col-sm-12 busDataBox " *ngIf="availableBuses.length; else busesUnavailable">
        <div class="row justify-content-center"><p class="lead">Available buses</p></div>
        <table class="table table-bordered">
            <thead class="thead-light">
              <tr>
                <th scope="col" *ngFor="let key of keys">{{key}}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let bus of availableBuses">
                <td *ngFor="let key of keys">{{bus[key]}}</td>
                <td>
                  <button type="button" [routerLink]='["/buses",bus.id]' class="btn btn-light viewseats">View Seats</button>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
          <ng-template #busesUnavailable>
            <h4>
                Sorry! No buses are currently available running on this route.
            </h4>
        </ng-template>
    </ng-container>
    <ng-template #endpointsmissing>
     
  </ng-template>
  </div>
</div>
