
<div>
  <div class="row justify-content-center  ">
    <div class="col col-lg-4 col-md-10 col-sm-12">
      <div class="card  mt-5 searchBusBox "style="background:transparent;color:white;">

        <h5 class="card-header  ">Plan Journey</h5>
        <div class="card-body">
          <form [formGroup]="journey" (ngSubmit)="onSubmit()">
               <div class="form-row">
                <div class="form-group col mb-2 ">
                    <label for="sourceLocation">Leaving From</label>
                    <select style="background:transparent;color:rgb(0, 0, 0)"class="form-control text-light  bg-dark " id="sourceLocation" name="sourceLocation" formControlName="sourceLocation">
                        <option *ngFor='let city of sourceCities' [value]="city">{{city}}</option>
                    </select>
                  </div>
                  <div class="form-group col mb-2 ">
                    <label for="destination">Going To</label>
                    <select  style="background:transparent;color:rgb(0, 0, 0); "class="form-control text-light  bg-dark  " id="destination" name="destination" formControlName="destination">
                        <option *ngFor='let city of destinationCities' [value]='city'>{{city}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-row justify-content-center">
                    <div class="form-group col-8">
                        <label for="depatureDate">Departure Date</label>
                        <input  style="background:transparent;color:rgb(0, 0, 0);"class="form-control bg-dark text-light " id="departureDate" name="departureDate" type="date" formControlName="departureDate">

                    </div>
                </div>
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-primary w-50 mt-5" [disabled]="!journey.valid">Search Buses</button>
                </div>
            </form>
        </div>
    </div>

