

<div style="display: grid; grid-template-columns: 60% 40%">
  <div
    style="
      display: grid;
      grid-template-columns: auto auto auto;
      max-width: 250px;
      left: 300px;
    "
  >
    <div
      *ngFor="let no of newSeats; index as i"
      style="padding: 20px"
      (click)="seatSelected(no)"
    >
      <!-- <input type="checkbox" value="no" /> -->
      <img
        src="https://image.shutterstock.com/image-vector/modern-car-seat-icon-on-600w-2022666569.jpg"
        class="img img-fluid"
      />{{ no }}
    </div>
  </div>
  <div *ngIf="busDetails != undefined">
    <div class="total">
      <h4>
        Selected Seats:
        {{ selectedSeats.join(', ')}}
      </h4>
      <h4>
        Total :
        {{ selectedSeats.length * busDetails["Fare"] | currency: "INR" }}
      </h4>
    </div>
    <div class="justify-content-center">
      <button class="btn btn-primary btn-block" type="submit" (click)="confirm()">Confirm</button>
    </div>
  </div>
</div>
