<div class="   allData ">
  <div
    style="
      display: grid;
      grid-template-columns: auto auto auto;
      max-width: 250px;
      left: 300px;
      background-color: white;
      padding: 1rem;
    "
  >
    <div
      *ngFor="let no of newSeats; index as i"
      style="padding: 3px"
      (click)="seatSelected(no)"
    >
     <img
        src="https://image.shutterstock.com/image-vector/modern-car-seat-icon-on-600w-2022666569.jpg"
        class="img img-fluid"
        width="50px"

      /><div>{{ no }}</div>
    </div>
  </div>
  <div class="bg-light p-5 " *ngIf="busDetails != undefined">
    <div class="total">
      <h4>
        Selected Seats:
        {{ selectedSeats.join(', ')}}

      </h4>
      <h4>
        Total :
        {{ selectedSeats.length * busDetails["Fare"] | currency: "INR" }}
      </h4>
    </div>
    <div class="justify-content-center">
      <button class="btn btn-primary btn-block mt-2 " type="submit" (click)="confirm()">Confirm</button>
    </div>
  </div>
</div>
